<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Lietaus rezervuaro užpildymo skaičiuoklė
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Įveskite rezervuaro talpą (l)</label>
                    <input class="form-control" type="number" id="talpa" name="talpa" [(ngModel)]="talpa">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Įveskite rezervuaro pildymo greitį (l/val.)</label>
                    <input class="form-control" type="number" id="greitis" name="greitis" [(ngModel)]="greitis">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Įveskite laiką kiek rezervuaras bus pildomas (val.)</label>
                    <input class="form-control" type="number" id="laikas" name="laikas" [(ngModel)]="laikas">
                </div>
                <button class="btn btn-success" type="button"  (click)="skaiciuoti()" [disabled] = "talpa == null || greitis == null || laikas == null">Skaičiuoti</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Rezultatai
            </div>
            <div class="card-body">
                <div *ngIf="rezultatas!=0" class="alert" [ngClass]="{'alert-success':rezultatas <= 80, 'alert-info':rezultatas > 80,'alert-danger':rezultatas >= 100}">
                    {{info}} <br>
                    
                    Pripildyta: <strong  >{{ rezultatas }}</strong>%
                </div>
                <div *ngIf="rezultatas == 0">
                Įveskite talpą, greitį, laiką ir paspauskite skaičiuoti
                </div>
            </div>
        </div>
    </div>
</div>